<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Kovai.BizTalk360.CreateAlarms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Kovai.BizTalk360.CreateAlarms.Properties.Settings>
      <setting name="BizTalk360URL" serializeAs="String">
        <value>http://localhost/BizTalk360</value>
      </setting>
      <setting name="Alarm_Enable" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Alarm_Violation" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="Alarm_Limits" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="Alarm_NotifyNormal" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Exp_RL" serializeAs="String">
        <value>Enabled</value>
      </setting>
      <setting name="Exp_SP" serializeAs="String">
        <value>Started</value>
      </setting>
      <setting name="Exp_Orchs" serializeAs="String">
        <value>Started</value>
      </setting>
      <setting name="SU_Account" serializeAs="String">
        <value>DESKTOP-RHB0UA1\Rochelle</value>
      </setting>
      <setting name="SU_Password" serializeAs="String">
        <value>London123</value>
      </setting>
      <setting name="Alarm_Emails" serializeAs="String">
        <value>rochelle.saldanha@biztalk360.co.uk</value>
      </setting>
    </Kovai.BizTalk360.CreateAlarms.Properties.Settings>
  </userSettings>
</configuration>